html {
   padding: 0;
   margin: 10px;
   background-color: #ffffff;
   font-family: Verdana, Helvetica, sans-serif;
}
body {
   padding: 0;
   margin: 0;
}
a {
   text-decoration: underline;
}
a :hover {
   cursor: pointer;
   text-decoration: underline;
}
img {
   border: none;
}
#content {
   padding-left: 1em;
}
#info {
   font-size: 60%;
}


.done-true {
  text-decoration: line-through;
  color: grey;
}
